html {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

#title {
  border-bottom: 5px solid #333333;
}

#error {
  width: 99%;
  border-radius: 5px;
  background: #ffaaaa;
  height: 35px;
  padding: 10px;
  display: none;
  margin: 20px 0px;
}

#wrapper {
  width: 100%;
}

#navigation {
  width: 20%;
  float: left;
}

#routing {
  display: none;
  margin-bottom: 50px;
}

#mapContainer {
  width: 100%;
}

#map {
  height: 500px;
}

#footer {
  font-size: 12px;
  margin-top: 15px;
}

button {
  display: inline-block;
  border: 1px solid #00B796;
  background: #00B796;
  box-shadow:none;
  border-radius: 0px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  width: 49%;
  cursor: pointer;
}

button:focus {
  outline: none
}

button:hover {
  border: 1px solid #333333;
}

form > button, form > button:hover {
  background: #007dd1;
  border: none;
}

button[name="route_clear"] {
  float: right;
  background: #3498DB !important;
  /*opacity: 0.5;*/
}

.tabs button.active {
  border: 1px solid #333333;
}

.form-group {
  margin: 20px 0px;
}

.form-group select, .form-group input {
  border: 1px solid #333;
  background: #00B796;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3px;
  float: right;
  width: 50%;
}

.form-group *:disabled {
  background: #00B796;
  opacity: 0.5;
}

#poiTable {
  margin-top: 15px;
  height: 200px;
  overflow-y: scroll;
  display: none;
}

#poiTable table {
  width: 100%;
}

#poiTable table thead th:nth-child(0) {
  width: 20%;
}

#poiTable table tbody td {
  text-align: center;
  cursor: pointer;
}

.navPart {
  padding: 10px;
}